services:
  vmehdi-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vmehdi-website
    environment:
      - NODE_ENV=production
      - PORT=3000
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3000",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      - mehdi-net

networks:
  mehdi-net:
    external: true
