@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant unicorn (&:where([data-theme=unicorn], [data-theme=unicorn] *));


@theme inline {
  --color-primary: oklch(0.6955 0.1871 232.45);
  --color-primary-dark: oklch(0.4471 0.1564 248.31);
  --color-secondary: oklch(0.8235 0.1776 72.6);
  --animate-aurora: aurora 60s linear infinite;
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
  @keyframes aurora {
    from {
      background-position:
              50% 50%,
              50% 50%;
    }
    to {
      background-position:
              350% 50%,
              350% 50%;
    }
  }
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }

  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
}


@utility container {
  padding-inline: 0.75rem;
  margin-inline: auto;

  @variant sm {
    padding-inline: 1rem;
  }

  @variant lg {
    padding-inline: 2rem;
  }
}

@utility bg-backdrop {
  @apply unicorn:bg-black/10 unicorn:text-white unicorn:border-white/10 border bg-white/10 backdrop-blur-sm dark:border-white/[0.2] dark:bg-white/10
}



.scrollbar {
  &-thin {
    scrollbar-width: thin !important;
    scrollbar-color: #eee !important;
  }
}
